.selectContainerMain {
  width: 100%;
  border: 1px solid var(--color-surface-mixed-a50);
  padding: 3px 5px;
  border-radius: 7px;
  position: relative;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.displayOption {
  border: 1px solid var(--color-surface-mixed-a50);
  background: var(--color-surface-a20);
  padding: 3px 5px;
  border-radius: 7px;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 10px;
}
.displayOption > i {
  position: relative;
  font-size: 0.9rem;
  height: 100%;
  display: grid;
  place-items: center;
}
.displayOption > i::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: var(--color-surface-mixed-a40);
  left: -5px;
}
.search {
  height: auto !important;
  padding: 3px 5px;
  border: none !important;
  width: 50%;
  margin: 0 !important;
  background: var(--color-surface-a10);
}
.search:focus {
  outline: none;
}
.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 13rem;
  background: var(--color-surface-a20);
  user-select: none;
  z-index: 1;
}
.optionsContainer > div {
  height: 2.2rem;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.selected {
  background: var(--color-surface-a50);
}
