.modal-content {
  border: none !important;
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
  background: var(--color-surface-a20);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHeader > .modalTitle {
  font-size: 1.8rem;
}
.modalHeader > .loginButton {
  color: var(--color-surface-mixed-a50);
}
.loginButton > a {
  color: var(--color-primary-a0);
  text-decoration: none;
}
.loginButton > a:hover {
  color: var(--color-primary-a30);
}

.inputBoxes > input {
  width: 100%;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 0 10px;
  border: none;
  font-size: 1.1rem;
  background: var(--color-surface-a0);
  color: var(--color-surface-mixed-a50) !important;
}

.buttonsCover {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonsCover > .signupButton {
  width: 80%;
  height: 2.5rem;
  border: none;
  background: var(--color-primary-a0);
  color: var(--color-surface-mixed-a50) !important;
  border-radius: 10px;
  display: grid;
  place-items: center;
  text-decoration: none;
}
.buttonsCover > .googleButton {
  background: var(--color-surface-a20);

  color: var(--color-primary-a0) !important;
  height: 2.5rem;
  width: 80%;
  border: 2px solid var(--color-primary-a0) !important;
  border-radius: 10px;
}
.buttonsCover > span {
  margin: 0.6rem 0;
}

.signupFooter {
  font-size: 0.9rem;
  margin: 1.5rem 0 0 0;
  color: var(--color-surface-mixed-a50);
}
.signupFooter > a {
  color: var(--color-primary-a0);
}
