* {
  margin: 0;
  padding: 0;
}

.downloadapp_main {
  display: flex;
  flex-direction: column;
  /* margin: 3rem 0 0 0; */
  background: var(--color-surface-a0);
}

/* main_image_btn */
.main_image_btn .conatiner_main_image_btn {
  margin: 0 40px;
  background-color: var(--color-surface-a0);
  display: flex;
  /* justify-content:; */
}

.main_image_btn .conatiner_main_image_btn .btn_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  min-width: 50%;
  padding: 30px;
}

.main_image_btn .conatiner_main_image_btn .btn_part h1 {
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.main_image_btn .conatiner_main_image_btn .btn_part mark {
  color: inherit;
  padding: 0;
  background: none;
  background-image: linear-gradient(
    120deg,
    var(--color-primary-a0) 0%,
    var(--color-primary-a20) 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 0.3em;
  background-position: 0 80%;
  position: relative;
  background-size: 100% 0.3em;
}

.main_image_btn .conatiner_main_image_btn .btn_part .imgage {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
}

.main_image_btn .conatiner_main_image_btn .btn_part .imgage img {
  max-width: 100%;
  width: 150px;
  height: 53px;
  margin-right: 10px;
}

.main_image_btn .conatiner_main_image_btn .image_app img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

/* headings */

#heading_h2_dapp {
  letter-spacing: -0.02em;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-surface-mixed-a40);
  margin-top: 2.5rem;
  text-align: center;
}

#heading_h4_dapp {
  letter-spacing: -0.02em;
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  color: var(--color-surface-mixed-a40);
}

.downloadapp_main .top_companies {
  background-color: var(--color-surface-a0) !important;
  margin-bottom: 3rem;
}

.downloadapp_main .top_companies .rows_companys {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.downloadapp_main .top_companies .rows_companys .perticular_row {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.downloadapp_main
  .top_companies
  .rows_companys
  .perticular_row
  .company_item_per {
  margin: 0 20px;
  filter: grayscale();
}

.downloadapp_main .last_2_h3 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
}

.downloadapp_main .amount_last_three {
  display: flex;
  gap: 6px;
  margin-top: 2rem;
}

.downloadapp_main .amount_last_three .perti_item {
  min-width: 33.3333%;
  height: 15em;
  background-color: var(--color-surface-a0) !important;
}
